/* 字体 */
@font-face{
	font-family: kt; /*楷体*/
	src:url("../fonts/kt.ttf");
}
@font-face{
	font-family: st; /*宋体*/
	src:url("../fonts/st.ttf");
}
@font-face{
	font-family: xs; /*QQ*/
	src:url("../fonts/qq2.ttf");
}
@font-face{
	font-family: zyyt; /*资源圆体*/
	src:url("../fonts/zyyt.woff2");
}
/*@font-face{
	font-family:hwxk; /*华文楷体*//*
	src:url("../fonts/hwxk.ttf");
}
@font-face{
	font-family:fzybxskt; /*方正硬笔行书楷体*//*
	src:url("../fonts/fzybxskt.ttf");
}
@font-face{
	font-family:fzqtjt; /*方正启体简体*//*
	src:url("../fonts/fzqtjt.ttf");
}
@font-face{
	font-family:qq1; /*QQ*//*
	src:url("../fonts/qq1.ttf");
}
@font-face{
	font-family:qq2; /*QQ*//*
	src:url("../fonts/qq2.ttf");
}
@font-face{
	font-family:huawei; /*HUAWEI*//*
	src:url("../fonts/huawei.ttf");
}*/